body {
    margin: 0;
    /*display: flex;
    flex-direction: column;*/
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 0;
    z-index: 0;
    background-image: url(/links/hintergrund.jpeg);
    background-repeat: no-repeat;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

/*Header*/
header {
  top: 0; /* Position oben auf dem Bildschirm */
  left: 0;
  right: 0;
  padding: 10px; /* Innenabstand des Headers */
  height: 150px; /* Ändere die Höhe des Headers nach Bedarf */
  display: flex; /* Um die Logo- und Pfeilbereiche nebeneinander anzuordnen */
  justify-content: space-between; /* Um Platz zwischen dem Logo und dem Pfeil zu schaffen */
  align-items: center; /* Um die Elemente vertikal zu zentrieren */
}

/*Header*/
.logo img {
  max-width: 200px; /* Maximale Breite des Logos */
  height: auto; /* Damit das Logo proportional skaliert wird */
  margin-right: 40px; /* Margin für das Logo angepasst */
  margin-top: 20px;
}

/*Header*/
.arrow img {
  margin-left: 40px; /* Margin für die Pfeiltaste angepasst */
  max-width: 20px; /* Maximale Breite des Pfeils */
  height: auto; /* Damit der Pfeil proportional skaliert wird */
}

/* CSS für das Grid-Layout */
.container {
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0 auto; /* In die Mitte des Bildschirms zentrieren */
    grid-template-rows: 1fr auto;
}

/* Stil für die Titelzeile */
.title {
    line-height: 60px;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 20px;
    grid-column: span 2;
    font-family: Bodoni Moda;
    font-weight: 700;
    font-size: 55px;
}

/* Stil für die Eingabefelder */
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #AAAAAA;
    border-radius: 4px;
    height: 100px;
    font-size: 16px;
    background-color: transparent;
    font-family: "Comfortaa", sans-serif; /* Schriftart anpassen */
    text-align: left; /* Text links ausrichten */
    color: #666666; /* Schriftfarbe anpassen, z.B. Schwarz (#000) */
}


/* Stil für die Buttons */
.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    grid-column: span 2; /* Hier setzen wir die Spandauer auf 2, um beide Spalten abzudecken */
}

.feld {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    height: 40px !important;
    font-family: Comfortaa;
}

.feld-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: Comfortaa;
    font-weight: 700;
    background: transparent;
    color: black;
}

.feld-input::placeholder {
  color: black;
}

.button-text {
    color: white;
    font-size: 20px;
    font-family: Comfortaa;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
    display: flex;
}

.calculate-container {
    width: 200px;
    padding: 10px;
    background: #EEB4FF;
    border-radius: 8px;
    justify-self: center; /* Horizontale Zentrierung innerhalb der Spalte */
    align-self: center; /* Vertikale Zentrierung innerhalb der Spalte */
    grid-column: span 2; /* Spannen Sie über beide Spalten */
    margin-top: 25px;
}

.calculate-content {
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Comfortaa;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
}

/* Stil für den Button "button_weit" */
.feld_weit {
    grid-column: span 2; /* Spannen Sie über beide Spalten */
}

/* Stil für den Button "button_weit" */
.feld_weit input[type="text"] {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #AAAAAA;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    height: 40px !important;
    font-family: Comfortaa;
    background-color: #FFFFFF;
}

/* Stil für das Textfeld "text_weit" */
.text_weit {
    grid-column: span 2; /* Spannen Sie über beide Spalten */
    width: 100%; /* 100% Breite, um die Breite des Buttons darunter zu übernehmen */
    color: #666666
  }
  
  .kleiner_text {
    color: #666666
  }

  footer {
    display: flex;
    justify-content: center; /* Zentriert den Text horizontal */
    align-items: center; /* Zentriert den Text vertikal */
}

.footerdiv{
    margin:0px auto;
    max-width:100%;
    padding: 20px;
    border-radius: 8px;
    display: grid;
    gap: 10px;
    margin: 0 auto; /* In die Mitte des Bildschirms zentrieren */
}

footer ul {
  display: flex;
  gap: 43px;
  justify-content: space-between; /* Gleichmäßiger Abstand zwischen den Elementen */
  margin: 0 auto; /* Horizontal zentrieren */
  align-items: center; /* Vertikal zentrieren */
  font-family: 'Comfortaa', cursive;
  font-size: 12px;
  color: black;
  text-decoration: none;
  list-style: none;
}

/* Stil für Links im Footer */
footer a {
  text-decoration: none; /* Entfernt die Unterstreichung */
  color: black; /* Setzt die Textfarbe auf Schwarz oder die gewünschte Farbe */
}

/* Stil für den Button im Footer */
footer button {
  text-decoration: none; /* Entfernt die Unterstreichung */
  color: black; /* Setzt die Textfarbe auf Schwarz oder die gewünschte Farbe */
  background: transparent; /* Entfernt den Hintergrund */
  border: none; /* Entfernt die Rahmen */
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  font-size: 12px;
  height: 12px; /* Passen Sie die Höhe nach Bedarf an */
  line-height: 12px; /* Passen Sie die Zeilenhöhe an die Höhe an */
}

          /* CSS für Mobilgeräte */
@media (max-width: 767px) {
    /* Ändern Sie hier die Stile für Mobilgeräte */
    /* Ändern Sie den grid-template-columns-Wert für die Mobileversion */
    .container {
        width: auto; /* Die Breite automatisch anpassen */
        margin: 0 10px; /* Einen Rand hinzufügen, um den Inhalt zu zentrieren */
        grid-template-columns: 1fr 1fr; /* Zwei Spalten für Mobilgeräte */
    }
    input[type="date"],
    input[type="number"] {
        height: 60px; /* Ändern Sie die Höhe der Eingabefelder für Mobilgeräte */
    }
    
    .button {
        height: 30px !important; /* Ändern Sie die Höhe der Buttons für Mobilgeräte */
    }

    .title {
        font-size: 35px; /* Passen Sie die Schriftgröße für Mobilgeräte an */
      }

       /* Ändern Sie die Größe der Logo- und Pfeilbilder für Mobilgeräte */
  .logo img {
    max-width: 150px;
    margin-right: 2px
  }

  .arrow img {
    margin-left: 20px;
    max-width: 15px;
  }

  .kleiner_text{
    text-align: left; /* Links ausrichten */
  }

  .footer-links a {
    color: black;
    text-decoration: none;
    padding: 5px 5px; /* Fügen Sie das Padding für den Logout-Button hinzu */
    font-size: 12px;
    cursor: pointer;
  }
  
  }

  @media (max-height: 1079px) {
    .container {
        grid-row: 1; /* Container oben auf dem Bildschirm positionieren */
    }
}



  