body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.button-container {
    display: flex;
    gap: 20px; /* Abstand zwischen den Buttons anpassen */
}

/* Button Pink Speichern*/
.activity-container {
    width: 500px;
    padding: 10px;
    background: #EEB4FF;
    border-radius: 8px;
    border: 1px white solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activity-title {
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Comfortaa;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
}

/* Button weiss nicht speichern*/
.custom-container {
    width: 500px;
    padding: 10px;
    background: white;
    border-radius: 8px;
    border: 1px #EEB4FF solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-content {
    text-align: center;
    color: #EEB4FF;
    font-size: 24px;
    font-family: Comfortaa;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
}

p {
    text-align: center;
    font-size: 18px;
}
