.container {
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background: #EEB4FF;
    border-radius: 8px;
    border: 1px white solid;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Comfortaa;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
    cursor: pointer;
}

.container + .container {
    margin-left: 10px; /* Abstand zwischen den Buttons */
}

.container:hover {
    background: #D084FF; /* Hintergrundfarbe beim Hovern über den Button */
}
