body {
    margin: 0;
    /*display: flex;
    flex-direction: column;*/
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 0;
    background-color:#F4F4F4;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
   
}

/*Header*/
header {
    top: 0; /* Position oben auf dem Bildschirm */
    left: 0;
    right: 0;
    padding: 10px; /* Innenabstand des Headers */
    height: 150px; /* Ändere die Höhe des Headers nach Bedarf */
    display: flex; /* Um die Logo- und Pfeilbereiche nebeneinander anzuordnen */
    justify-content: space-between; /* Um Platz zwischen dem Logo und dem Pfeil zu schaffen */
    align-items: center; /* Um die Elemente vertikal zu zentrieren */
}

/*Header*/
.logo img {
    max-width: 200px; /* Maximale Breite des Logos */
    height: auto; /* Damit das Logo proportional skaliert wird */
    margin-right: 60px;
    margin-top: 20px;
}

/*Header*/
.arrow img {
    margin-left: 80px;
    max-width: 20px; /* Maximale Breite des Pfeils */
    height: auto; /* Damit der Pfeil proportional skaliert wird */
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Erstelle 2 gleichmäßige Spalten */
    gap: 100px;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    height: 50px;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 18px;
}

.title-overview {
    text-align: center;
    font-family: Bodoni Moda;
    font-weight: 700;
    font-size: 55px;
}

.container-month {
    display: grid;
    grid-template-columns: 1fr; /* Nur eine Spalte pro Zeile */
    gap: 13px;
    justify-content: center;
    align-content: center; /* Zentrieren sowohl horizontal als auch vertikal */
    width: 80%;
    margin: 0 auto; /* Zur horizontalen Zentrierung des Containers */
    margin-bottom: 50px;
}

.month-item {
    height: 50px;
    background: #666666;
    border-radius: 8px;
    border: 1px white solid;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Comfortaa;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
    padding-left: 20px; /* Abstand vom linken Rand */
}

/* CSS für Mobilgeräte */
@media (max-width: 767px) {
    .title-overview  {
      font-size: 35px; /* Passen Sie die Schriftgröße für Mobilgeräte an */
    }
  
    .button-container {
      flex-direction: column; /* Ändern Sie die Ausrichtung der Buttons für Mobilgeräte auf vertikal */
      align-items: center; /* Zentrieren Sie die Buttons vertikal für Mobilgeräte */
    }
  
    /* Ändern Sie die Größe der Logo- und Pfeilbilder für Mobilgeräte */
    .logo img {
      max-width: 150px;
      margin-right: 2px
    }
  
    .arrow img {
      margin-left: 20px;
      max-width: 15px;
    }

    .month-item {
        font-size: 15px;
        }
  }
  
  