body {
  margin: 0;
  /*display: flex;
  flex-direction: column;*/
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 0;
  background-image: url(/links/hintergrund.jpeg);
  background-repeat: no-repeat;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
}

/*Header*/
header {
  top: 0; /* Position oben auf dem Bildschirm */
  left: 0;
  right: 0;
  padding: 10px; /* Innenabstand des Headers */
  height: 150px; /* Ändere die Höhe des Headers nach Bedarf */
  display: flex; /* Um die Logo- und Pfeilbereiche nebeneinander anzuordnen */
  justify-content: space-between; /* Um Platz zwischen dem Logo und dem Pfeil zu schaffen */
  align-items: center; /* Um die Elemente vertikal zu zentrieren */
}

/*Header*/
.logo img {
  max-width: 200px; /* Maximale Breite des Logos */
  height: auto; /* Damit das Logo proportional skaliert wird */
  margin-right: 60px;
  margin-top: 20px;
}

/*Header*/
.arrow img {
  margin-left: 80px;
  max-width: 20px; /* Maximale Breite des Pfeils */
  height: auto; /* Damit der Pfeil proportional skaliert wird */
}

/* CSS für das Grid-Layout */
.container {
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0 auto; /* In die Mitte des Bildschirms zentrieren */
  grid-template-rows: 1fr auto;
}

/* Stil für die Titelzeile */
.title {
  line-height: 60px;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 20px;
  grid-column: span 2;
  font-family: Bodoni Moda;
    font-weight: 700;
    font-size: 55px;
}


/* Stil für die Buttons */
.button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  grid-column: span 2; /* Hier setzen wir die Spandauer auf 2, um beide Spalten abzudecken */
}

.button {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  background-color: #FFFFFF;
  padding: 10px;
  box-sizing: border-box;
  height: 40px !important;
}

.button-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: Comfortaa;
  font-weight: 700;
  background: transparent;
  color: black;
}

.button-text {
  color: white;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
  display: flex;
}

.calculate-container {
  width: 200px;
  padding: 10px;
  background: #EEB4FF;
  border-radius: 8px;
  justify-self: center; /* Horizontale Zentrierung innerhalb der Spalte */
  align-self: center; /* Vertikale Zentrierung innerhalb der Spalte */
  grid-column: span 2; /* Spannen Sie über beide Spalten */
}

.calculate-content {
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: Comfortaa;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
}

/* Stil für den Button "button_weit" */
.button_weit {
  grid-column: span 2; /* Spannen Sie über beide Spalten */
}

/* Stil für den Button "button_weit" */
.button_weit input[type="text"] {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  height: 40px !important;
  font-size: 16px;
  background-color: #FFFFFF;
}

/* Stil für das Textfeld "text_weit" */
.text_weit {
  grid-column: span 2; /* Spannen Sie über beide Spalten */
  width: 100%; /* 100% Breite, um die Breite des Buttons darunter zu übernehmen */
  color: #666666;
}

.kleiner_text {
  color: #666666;
}

/* CSS für Mobilgeräte */
@media (max-width: 767px) {
  .container {
    width: 70%; /* Container soll die gesamte Bildschirmbreite für Mobilgeräte einnehmen */
    padding: 10px; /* Verringern Sie den Container-Rand für Mobilgeräte */
    height: auto; /* Automatische Höhe für Mobilgeräte */
  }

  .title {
    font-size: 35px; /* Passen Sie die Schriftgröße für Mobilgeräte an */
  }

  .button-container {
    flex-direction: column; /* Ändern Sie die Ausrichtung der Buttons für Mobilgeräte auf vertikal */
    align-items: center; /* Zentrieren Sie die Buttons vertikal für Mobilgeräte */
  }

  /* Ändern Sie die Größe der Logo- und Pfeilbilder für Mobilgeräte */
  .logo img {
    max-width: 150px;
    margin-right: 2px
  }

  .arrow img {
    margin-left: 20px;
    max-width: 15px;
  }
}
