
/* Prämien */
.prämien {
    color: black;
    font-size: 84px;
    font-family: "Bodoni Moda", serif;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  /* Lorem ipsum */
  .lorem-ipsum {
    color: black;
    font-size: 20px;
    font-family: Comfortaa, sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  /* Login */
  .login {
    color: black;
    font-size: 84px;
    font-family: "Bodoni Moda", serif;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  /* Username */
  .username {
    color: #666666;
    font-size: 20px;
    font-family: Comfortaa, sans-serif;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  /* Enter username */
  .enter-username {
    color: #AAAAAA;
    font-size: 20px;
    font-family: Comfortaa, sans-serif;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  /* Passwort */
  .passwort {
    color: #666666;
    font-size: 20px;
    font-family: Comfortaa, sans-serif;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  /* Enter Passwort */
  .enter-passwort {
    color: #AAAAAA;
    font-size: 20px;
    font-family: Comfortaa, sans-serif;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  /* Login (changed color) */
  .login-button {
    color: white;
    font-size: 24px;
    font-family: Comfortaa, sans-serif;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  /* Registrieren (changed color) */
  .registrieren-button {
    color: #EEB4FF;
    font-size: 24px;
    font-family: Comfortaa, sans-serif;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
  }









  